<header class="header pepe" sticky="{{theme_settings.sticky-header}}" role="banner">
  <div class="header-main">
  <div class="container">
    <div class="header-inner">
      <div class="header-left">
        <div class="desktop_mobile_menu">
          <a class="control-otherlinks" href="javascript:void(0);" onclick="">
            <span class="otherlinks-line-1"></span>
            <span class="otherlinks-line-2"></span>
            <span class="otherlinks-line-3"></span>
            <span class="otherlinks-line-4"></span>
          </a>
        </div>
        <div class="logo-block">
          {{#if page_type '===' 'default'}}
              <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                  {{> components/psdc-common/store-logo}}
              </h1>
          {{else}}
              <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                  {{> components/psdc-common/store-logo}}
              </div>
          {{/if}}
        </div>
      </div>

      <div class="header-center">
        <div class="navigation-menu" data-menu>
            {{> components/psdc-common/navigation-menu}}
        </div>
      </div>

      <div class="header-right">
          {{> components/psdc-common/navigation}}
      </div>
    </div>
  </div>
  <div class="header-currancy">
    {{#if currency_selector.currencies.length '>' 1}}
      <div class="navUser-item currency-item">
        <div class="currency">
          {{> components/psdc-common/currency-selector}}
        </div>
      </div>
    {{/if}}
  </div>
  {{{region name="header_bottom"}}}
</div>
  <div class="mobile-search">
    <div class="container">
      {{> components/psdc-common/quick-search}}
    </div>
  </div>
</header>
