
<div class="home-blog-post m-b-50">
    <div class="section-title">
        <h2 class="page-heading">{{lang 'common.latestblog' }}</h2>
        {{#if theme_settings.BlogSubTitle}}
          <p class="page-sub-heading">{{theme_settings.BlogSubTitle}}</p>
        {{/if}}
    </div>
    <div class="home-blog-list-wrap m-t-30 clearfix">
        <div class="home-blog-list">
            {{#each blog.recent_posts}}
            {{#if @index '<' 3}}
              {{> components/blog/home-page-post blog=blog.recent_posts columns=3 settings=../settings}}
              {{/if}}
            {{/each}}
        </div>
    </div>
  </div>
