{{#if theme_settings.instagramKey}}
  <article class="instagrame m-b-50 clearfix" data-section-type="storeInfo">
      {{#if theme_settings.instagramtitle}}
        <div class="section-title">
          <h2 class="page-heading"><svg><use xlink:href="#icon-instagram"></use></svg><span>#{{theme_settings.instagramtitle}}</span></h2>
        </div>
      {{/if}}
      <div class="home-instagram align-center m-t-20">
          <div class="insta-block clearfix">
            {{#if theme_settings.instagramKey}}
              <div id="instafeed" class=""
              data-id="{{#withFirst (split theme_settings.instagramKey '.')}}{{this}}{{/withFirst}}"
              data-key="{{theme_settings.instagramKey}}"
              data-loading="{{cdn 'img/loading.svg'}}">
              </div>
            {{/if}}
        </div>
      </div>
  </article>
{{/if}}
