<nav class="navPages">
  <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}} sf-menu" data-speed="0.8">

    {{#if theme_settings.headernavigation '==' "navcategory"}}
        <li class="{{#if @last}}last-menu-item{{/if}}">
            {{#each categories}}
                  <li class="navPages-item">
                    {{> components/psdc-common/navigation-list}}
                  </li>
            {{/each}}
        </li>
    {{/if}}


    {{#if theme_settings.headernavigation '==' "navwebpage"}}
      {{#each pages}}
           <li class="navPages-item navPages-item-page {{#if @last}}last-menu-item{{/if}}">
             {{> components/psdc-common/navigation-list}}
           </li>
       {{/each}}
    {{/if}}

{{#if theme_settings.headernavigation '==' "navboth"}}
      <li class="navPages-item">
        <a class="navPages-action needsclick" href="/categories">{{theme_settings.category-menu-name}} <svg><use xlink:href="#icon-chevron-down"></use></svg></a>
        <ul>
          {{#each categories}}
            <li class="navPages-item {{#and @last (if (length pages) '==' '0')}}last-menu-item{{/and}} nav-arrow-roted">
              {{> components/psdc-common/navigation-list}}
            </li>
          {{/each}}
        </ul>
      </li>
      {{#each pages}}
           <li class="navPages-item navPages-item-page {{#if @last}}last-menu-item{{/if}}">
             {{> components/psdc-common/navigation-list}}
           </li>
       {{/each}}
  {{/if}}
  </ul>
</nav>
